<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href=" {{url_for('static', filename = 'leaderBoard.css')}}">
    <title>Leader Board</title>

</head>

<body>
    <div class="cont">
        <div class="topThree">
            <h1 style="color:white;">LEADERBOARD</h1>
        </div>
        <div class="leaderBoard">
            <div class="table">
                <div class="header">
                    <div class="cell">RANK</div>
                    <div class="cell">BADGES</div>
                    <div class="cell">NAME</div>
                    <div class="cell">USERNAME</div>
                    <div class="cell">TIME</div>
                    <div class="cell">SCORE</div>
                </div>
                <div class=tableRows>
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.10.0/firebase-app.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyBC-d0YRmnxCtHSb3qV0_mDAPtOuN4gkU8",
            authDomain: "voiceviva-dadb1.firebaseapp.com",
            databaseURL: "https://voiceviva-dadb1-default-rtdb.firebaseio.com",
            projectId: "voiceviva-dadb1",
            storageBucket: "voiceviva-dadb1.appspot.com",
            messagingSenderId: "418785472414",
            appId: "1:418785472414:web:410bfaefd6328cfc15708f"
        };
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);


        import { getDatabase, set, get, query, update, remove, ref, child, orderByChild }
            from "https://www.gstatic.com/firebasejs/10.10.0/firebase-database.js"

        const db = getDatabase();

        document.addEventListener("DOMContentLoaded", function () {
            const tableRows = document.querySelector(".tableRows");

            function displayData(snapshot) {
                let rank = 1;
                snapshot.forEach(childSnapshot => {
                    const user = childSnapshot.val();
                    const row = document.createElement("div");
                    row.classList.add("row");

                    // Check the badge value and insert badge images accordingly
                    let badgeImages = '';
                    let i = user.Badge;
                    if (i == '1')
                        badgeImages = `<img src="{{ url_for('static', filename='pics/badge1.png') }}" alt="Badge 1" class="badge">`;
                    else if (i == '2')
                        badgeImages = `<img src="{{ url_for('static', filename='pics/badge2.png') }}" alt="Badge 2" class="badge">`;
                    else if (i == '3')
                        badgeImages = `<img src="{{ url_for('static', filename='pics/badge3.png') }}" alt="Badge 3" class="badge">`;
                    else if (i == '4')
                        badgeImages = `<img src="{{ url_for('static', filename='pics/badge4.png') }}" alt="Badge 4" class="badge">`;

                    if (user.Username == 'shreya6s') {
                        row.classList.add("highlight");
                    }
                    row.classList.add("animation");

                    row.innerHTML = `
            <div class="cell">${rank}</div>
            <div class="cell">${badgeImages}</div>
            <div class="cell">${user.Name}</div>
            <div class="cell">${user.Username}</div>
            <div class="cell">${user.Time}</div>
            <div class="cell">${user.Score}</div>
        `;
                    tableRows.appendChild(row);
                    rank++;
                });
            }


            function fetchAndDisplayData() {
                const usersRef = query(ref(db, "People"), orderByChild("Score"));
                get(usersRef).then(snapshot => {
                    if (snapshot.exists()) {
                        const dataArray = [];
                        snapshot.forEach(childSnapshot => {
                            dataArray.push(childSnapshot);
                        })
                        const reversedArray = dataArray.reverse();
                        displayData(reversedArray);
                    } else {
                        console.log("No data available");
                    }
                }).catch(error => {
                    console.error("Error fetching data: ", error);
                });
            }

            fetchAndDisplayData();
        });

        window.addEventListener('scroll', function () {
            const header = document.querySelector('.header');
            if (window.scrollY > 10) {
                header.classList.add('scrolled');
            } else {
                header.classList.remove('scrolled');
            }
        });


    </script>
</body>

</html>
